@font-face {
  font-family: 'Neucha';
  src: url('../assets/fonts/Neucha-Regular.ttf');
  font-weight: 400;
}
/* @font-face {
  font-family: 'Steppe';
  src: url('../assets/fonts/Steppe.ttf');
  font-weight: 400;
} */