<div class="header__wrapper">
  <nav class="navbar">
    <ul class="navbar__list">
      <li class="navbar__item">
        <a href="#" class="navbar__link">
          <span class="logo"></span>
        </a>
      </li>
      <li class="navbar__item">
        <a href="/#/toys" class="navbar__link">Toys</a>
      </li>
      <li class="navbar__item">
        <a href="/#/tree" class="navbar__link">Christmas tree</a>
      </li>
    </ul>
  </nav>
  <div class="toys-counter">
    <span id="toys-counter"></span>
  </div>
</div>